In [2]:
import json
import pandas
import transliterate

In [3]:
def loads(s):
    try:
        return json.loads(s)
    except:
        print (s)
        return None

In [13]:
def transliteration2(text):
    cyrillic = 'абвгдеёжзийклмнопрстуфхцчшщъыьэюяАБВГДЕЁЖЗИЙКЛМНОПРСТУФХЦЧШЩЪЫЬЭЮЯ'
    latin = 'a|b|v|g|d|e|e|zh|z|i|j|k|l|m|n|o|p|r|s|t|u|f|kh|ts|ch|sh|shch||y||e|yu|ya|A|B|V|G|D|E|E|Zh|Z|I|J|K|L|M|N|O|P|R|S|T|U|F|Kh|Ts|Ch|Sh|Shch||Y||E|Yu|Ya'.split('|')    
    return text.translate({ord(k):v for k,v in zip(cyrillic,latin)})

In [14]:
def trans_str(s):
    try:
        return transliteration2(s)
    except:
        return s

In [15]:
x = list(map(loads,open('surnames.jsonl').read().split('\n')))
x = list(filter(lambda x: x is not None, x))

In [16]:
surnames_df = pandas.DataFrame.from_records(x)

In [17]:
surnames_df = surnames_df.sort_values('count',ascending=False)

In [18]:
surnames_df['text'] = surnames_df.text.str.lower()

In [19]:
surnames_df['trans'] = surnames_df.text.apply(trans_str)

In [20]:
surnames_df[surnames_df['count']>=5]

,_id,count,gender,ethnic,f_form,fname,text,m_form,trans
0,{'$oid': '4bdaa13d9d55821a51000000'},6926,m,[slav],Иванова,Иван,иванов,NaN,ivanov
4,{'$oid': '4bdaa13d9d55821a51000004'},5206,f,[slav],NaN,Иван,иванова,Иванов,ivanova
1,{'$oid': '4bdaa13d9d55821a51000001'},4789,m,NaN,Кузнецова,NaN,кузнецов,NaN,kuznetsov
2,{'$oid': '4bdaa13d9d55821a51000002'},4406,m,NaN,Смирнова,NaN,смирнов,NaN,smirnov
3,{'$oid': '4bdaa13d9d55821a51000003'},4351,m,NaN,Попова,NaN,попов,NaN,popov
...,...,...,...,...,...,...,...,...,...
54512,{'$oid': '4bdaa1419d55821a5100d4f0'},5,NaN,NaN,NaN,NaN,сутула,NaN,sutula
320909,{'$oid': '4ca081249d5582342e2765a9'},5,NaN,NaN,NaN,NaN,шмунк,NaN,shmunk
63578,{'$oid': '4bdaa1429d55821a5100f85a'},5,f,NaN,NaN,NaN,сесорова,Сесоров,sesorova
261137,{'$oid': '4ca068269d5582342e12caf1'},5,f,NaN,NaN,NaN,погирская,Погирский,pogirskaya
260687,{'$oid': '4ca068039d5582342e12ad21'},5,f,NaN,NaN,NaN,шунтикова,Шунтиков,shuntikova

In [21]:

surnames_df[surnames_df['count']>=5][['text','count']].to_csv('russian_surnames.csv',sep=',',index=False,header=False)

surnames_df[surnames_df['count']>=5][['trans','count']].to_csv('russian_trans_surnames.csv',sep=',',index=False,header=False)

surnames_df[surnames_df['count']>=5][['text']].to_csv('russian_surnames.txt',sep=',',index=False,header=False)

surnames_df[surnames_df['count']>=5][['trans']].to_csv('russian_trans_surnames.txt',sep=',',index=False,header=False)